/* como vamos a presentar la estructura del html ,podemos crear muchos archivos css
selector: elemento , id , clase

section : etiqueta elemento
#section : estoy usando selector id
.seccion : estoy usando selector clase (para seleccionar un conjunto de secciones)

*/

html{
    font-family: "Moderustic", sans-serif;
    --primary-color: #79b4a9;
    --text-color: snow;
    --secondary-color: #111d13;
    
    
    
}

.div_prueba{
  
    color: var(--text-color);


}

body{
    
    color: var(--secondary-color);
}



.contenedor{

    max-width: 50%; /*que sea estrecho*/
    margin-left: 0 auto;
    text-align: center;

}
.borde{


    border-bottom: solid 3px;
    margin: 0 auto;
    width: 200px; /* ajusta el ancho a 50 píxeles */
    height: 2px;
}

.header {
    text-align: center;
    background-color: var(--primary-color);
    box-shadow: 1px 1px 10px #555;
    padding-bottom: 50px;
    color : var(--text-color);
   
}
.header img {
    
    border: solid;
    width: 200px;
    border-radius: 60%;
}

.seccion{

    
    margin: 20px;
    height: 300px;
    width: 70%;
   
    text-align: center;
    position: relative;
    right: 20px;
    bottom:  640px;



    
    
    
    
}
.seccion h2{
    color: var(--text-color);
    box-shadow: 1px 1px 10px #555;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    text-align: center;
    margin:0 auto;
    position: relative;
    left: 280px;
    background-color: var(--primary-color);
    



}
.top-categories{
    display:flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 3rem;
}
.container-categories{
    display: grid;
    justify-content: center;
    align-items: center ;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.card-category{
    height: 20rem;
    display:  flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    gap: 2rem;
    box-shadow: 1px 1px 10px #555;
    position: relative;
    right: 1%;
    top: 40px;
    left: 500px;
}
.category-campeon{
    background-image: url(../img/campeon.png);
    background-size: cover;
   background-repeat: no-repeat;
}

.category-basedatos{
    background-image: url(../img/basedatos.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    left: 970px;
    top: -280px;
   
   
    }




.seccion_1 {
    margin: 20px;
    height: 300px;
    width: 50%;

    box-shadow: 1px 1px 10px #555;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    position: relative;
    
    left: 500px;
    top: 570px;
  }

.seccion_2 {
    margin: 20px;
    height: 300px;
    width: 50%;
    box-shadow: 1px 1px 10px #555;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    position: relative;
    top: 200px;
    right: 450px;



}
  

.container-secciones {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
.experience  h2{
    text-align: center;

}
.container-experience {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding:  20px;
    border:  solid thin green;

}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 36px;
    margin: 0 10px;
   
}
.borde_2 {
    border-bottom: solid 3px;
    

    margin: 0 auto;
    width: 200px; /* ajusta el ancho a 50 píxeles */
    height: 2px;
}

.icons_2{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 48px;
    
  }
  
  .ico {
    font-size: 36px;
    margin: 0 10px;
  
  }